*
{
    padding: 0px 0px;
    margin: 0px;
}

body
{
    background-color: darkgray;
}

a
{
    color: black;
}

.container-fluid
{
    padding: 0px;
}

.navbar
{
    padding: 0px; 
    background-color: rgb(250, 250, 250); 
    border-bottom: 5px solid rgb(0, 0, 0);
}

.navbar-header p
{
    float: right; 
    padding: 10px 19px; 
    margin-bottom: 0;
    font-size: 20px;
}

.nav-right
{
    float: right;
}

.question
{
    padding: 0px 10px;
}

.body-top
{
    background-color: rgb(80, 80, 80);
    padding: 10px;
}

.body-top h1
{
    color: rgb(0, 195, 195);
}

.body-top p
{
    color: rgb(194, 195, 195);
    margin: 10px;
}

.body-below
{
    background-color: rgb(120, 120, 120);
    padding: 8px;
}

.body-below button
{
    margin-left: 20px;
}

.footer
{
    position: fixed;
    left: 0;
    bottom: 1px;
    width: 100%;
    background-color: rgb(250, 250, 250);
    border-top: 5px solid rgb(102, 102, 255);
    text-align: center;
    padding: 6px;
}