/* ===================================== */
/*		GLOBAL
/* ===================================== */

:root {
    --dark-navy: #30344d;
    --braintrust-blue: rgb(87, 133, 225);
    --off-white: rgb(240, 140, 240);
}

* {
    padding: 0px 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
	height: 100%;
    margin: 0;
}

a {
    color: white;
}

a:hover {
    color: lightgray;
}

body {
    background-color: var(--off-white);
}

video {
    background-color: lightgray;
    max-width: 98%;
    max-height:98%;
    height: auto;
}


/* ===================================== */
/*		WELCOME
/* ===================================== */

.welcome {
    padding-left: 0px;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: white;
}

.phone {
	color: var(--dark-navy);
	font-weight: bold;
    padding-top: 12px;
    float: right;
    font-size: 12px;
}


/* ===================================== */
/*		CONTENT
/* ===================================== */

.content {
    padding: 0px 0px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* ===================================== */
/*		UPLOAD CONTENT
/* ===================================== */

.body-top {
    background-color: #30344d;
    padding: 10px 10px;
}

.body-top h1 {
    color: rgb(240, 240, 240);
    margin: 10px;
}

.body-top p {
    color: rgb(210, 210, 210);
    margin: 10px;
}

.body-below {
    background-color: var(--braintrust-blue);
    /*background-color: rgb(140, 140, 140);*/
    padding: 8px;
}

.body-below button {
    margin-left: 20px;
}

.body-below label {
	margin-top: 10px;
    margin-left: 20px;
}

input[type="file"] {
    display: none;
}


/* ===================================== */
/*		ANALYZE CONTENT
/* ===================================== */

.body-left {
	position: absolute;
    background-color: var(--dark-navy);
    border-right: 30px solid var(--braintrust-blue);
    padding-top: 15px;
    width: 50%;
    float: left;
}

.body-left h1 {
	margin: 10px;
    color: var(--braintrust-blue);
}

.body-left p {
    color: rgb(194, 195, 195);
    margin: 20px;
    margin-bottom: 30px;
}

.body-right {
	position: absolute;
    background-color: var(--off-white);
    padding-top: 5px;
    width: 40%;
    color: black;
    left: 50%;
}

.body-right table {
    margin: 10px;
}

.row {
    display: flex;
    /* equal height of the children */
    max-width: 101%;
}

#left {
    flex-basis: 60%;
    flex-grow: 0;
    flex-shrink: 0;
}

.col {
    flex: 1;
    /* additionally, equal width */
}


th {
    background-color: rgb(210, 210, 210);
}

.target {
	
}

.general-objects {
	border-radius: 10px;
    border: 2px solid var(--braintrust-blue);
	padding: 10px;
}

.general-objects-content {
	list-style-type: none;
	margin: 10px;
	display: inline-grid;
}

/* ===================================== */
/*		FOOTER
/* ===================================== */

.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
    background-color: white;
    text-align: center;
}

.footer p {
    padding: 20px 20px;
    color: darkslategray;
    margin: 0;
    font-size: 13px;
}
