<!-- HOME -->
<div class="body-top container-fluid">
    <div class="body-top container">
        <h1>
            <b>A</b>ccurate <b>V</b>ideo <b>A</b>nalyzer
        </h1>

        <p>
            This project will analyze videos for any occurances of a given target
            <br/> It will provide confidence levels of identification certainty and number of occurances within the video as well as other general obejcts detected.
        </p>
        <p>
            Please select Browse to choose the video you would like analyzed, and then select Upload to begin:
        </p>
    </div>
</div>

<div class="body-below container-fluid">
    <div class="body-below container">
        <form>
        	<label class="btn btn-outline-light">
    			<input type="file" file-model="myForm.files[0]" />   <!-- multiple -->
    			Browse
			</label>
            <button class="btn btn-outline-light" type="button" ng-click="doUploadFile()"> Upload </button>
        </form>
        <div style="padding: 5px;">
            <span ng-bind="uploadResult"></span>
        </div>
        <a href="#!/analyze"> Go to analysis! </a>
    </div>
</div>

<!---------->

<!-- Get Files 
      <hr>
      <div ng-controller="GetFilesController">
         <button type="button" ng-click="getAllFiles()">Get All Files</button>
         <ul>
            <li ng-repeat="file in allFiles">
               <a href='/files/{{file}}'>{{file}}</a>
            </li>
         </ul>  -->
