<h2>Witch-Hunt</h2>
<!-- <div ng-controller="UploadFileController"> -->
<form>
    Description: <br/>
    <input type="text" name="description" ng-model="myForm.description" style="width:350px;" />
    <br/><br/> File to upload: <input type="file" file-model="myForm.files[0]" /><br />
    <button type="button" ng-click="doUploadFile()">Upload</button>
</form>
<h2>Upload Results:</h2>
<div style="border:1px solid #ccc;padding: 5px;">
    <span ng-bind="uploadResult"></span>
</div>

<a href="#!/analyze"> Go to analysis! </a>

<!-- Get Files 
      <hr>
      <div ng-controller="GetFilesController">
         <button type="button" ng-click="getAllFiles()">Get All Files</button>
         <ul>
            <li ng-repeat="file in allFiles">
               <a href='/files/{{file}}'>{{file}}</a>
            </li>
         </ul>  -->
